.Button{
  float:left;
  border-radius: 3px;

}

.Button{
  padding: 10px;
}

.Time{
  text-align: center;
}
#timer{
  text-align: center;
}
#startButton{
  text-align: center;
}
body{
  font-family: 'Schoolbell', Arial, serif;
  background-color: yellowgreen;
}
.h1{
  width: 500px;
  padding: 10px;
  text-align: center;
}
.Titles{

  text-align: Center;
  font-size: 200%;
  padding: 10px;
}
.getQuestionButton{
  border: none;
  text-decoration: none;
  text-align: Center;
}
.startButton{
  border: none;
  text-decoration: none;
  text-align: Center;
}
#Questions{

  text-align: center;
  padding: 20px;

}
.Time{
  width: 200px;
  height: 30px;
  border: 1px Blue;
}
.TextPlace {
  text-align: center;
}
.RadioPlace{
  text-align: center;

}
.Buttonn{
  border: none;
  text-decoration: none;
  text-align: Center;
}
#UserNameSection{
  text-align: center;
}
