.theButton{
  float:left;
  border-radius: 3px;

}

.submitButton{
  padding: 10px;
}

body{
  font-family: 'Schoolbell', Arial, serif;
  background-color: yellowgreen;
}
.h1{
  width: 500px;
  padding: 10px;
  text-align: center;
}
.Titles{

  text-align: Center;
  font-size: 200%;
  padding: 10px;
}
.submitButtonn{
  border: none;
  text-decoration: none;
  text-align: Center;
  padding: 15px 20px;
}
.questions{

  text-align: center;
  padding: 20px;

}
.Time{
  text-align: center;
  text-decoration: none;
}
